@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: url('../img/slbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: fit-content;
    color: lightgreen;
    font-size: 22px;
    font-weight: bold;
    margin: 35px;
    margin-left: 70px;
    font-family: 'Roboto Condensed', sans-serif;
}

.navContent {
    display: flex;
    color: lightgreen;
    position: absolute;
    margin: 12px;
    right: 10px;
}

.navbar {
    display: flex;
}

.navlist {
    margin: 20px 10px;
    list-style-type: none;
    font-weight: bold;
}

.inputs {
    border: solid lightgreen 1px;
    border-radius: 30px;
    font-size: 14px;
    padding: 9px;
    outline: none;
    background: transparent;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.inpBtns {
    width: 80px;
    transition: 300ms;
    font-weight: bold;
    color: white;
}

.inpBtns:hover {
    background-color: lightgreen;
    width: 90px;
    color: black;
    cursor: pointer;
}

.topright {
    margin: 28px 16px;
}

.linkBtns {
    text-decoration: none;
    color: lightgreen;
}

.postView {
    display: flex;
    margin: 0px 30px;
    margin-bottom: 30px;
    padding: 20px;
    height: 250px;
    border: solid lightgreen 2px;
    border-radius: 30px;
}

#copyright {
    text-align: center;
    background-color: rgb(200, 200, 200);
    color: black;
    font-size: 16px;
    padding: 4px;
    font-weight: bold;
}

.end {
    margin: 0px 40px;
    margin-bottom: 40px;
    color: lightgreen;
    font-size: 20px;
    font-weight: bold;
}

.start {
    margin-top: 50px;
    margin-bottom: 20px;
}

.photoDiv {
    width: 500px;
    display: grid;
    justify-content: center;
}

.photo {
    border-radius: 12px;
}

.down {
    background-color: black;
    height: 300px;
    display: grid;
    justify-content: center;
    color: lightgreen;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.footInp {
    display: grid;
    justify-content: center;
    width: 300px;
    border: solid lightgreen 1px;
    border-radius: 30px;
    margin: 14px;
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline: none;
}

#copyright {
    text-align: center;
    background-color: rgb(200, 200, 200);
    color: black;
    font-size: 16px;
    padding: 2px;
    font-weight: bold;
}

textarea {
    resize: none;
}

.nameDiv {
    margin: 10px 30px;
    font-weight: bold;
    display: grid;
    justify-content: center;
    width: 500px;
    color: lightgreen;
    text-align: justify;
}

.price {
    display: grid;
    font-size: 18px;
    justify-content: center;
    color: lightgreen;
    font-weight: bold;
    margin: 0px 50px;
    margin-top: 30px;
}

.topic {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.head {
    display: grid;
    justify-content: center;
    margin: 40px;
    text-align: center;
    font-size: 40px;
    color: lightgreen;
}

@media screen and (max-width: 500px) {
    .introContent {
        width: 90%;
    }

    .navContent {
        display: grid;
        margin-top: 90px;
    }

    .head {
        margin-top: 400px;
    }

    .photoDiv img {
        width: 310px;
        height: 200px;
    }

    .postView {
        display: grid;
        justify-content: center;
        height: 600px;
    }

    .nameDiv {
        width: 310px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        margin-top: 200px;
    }

    .price {
        height: 20vh;
        position: absolute;
        margin: auto;
        margin-top: 450px;
    }
}