<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | myPlace</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <div class="upper">
        <p class="upperleft">myPlace</p>
        <div class="upperright">
            <p class="upperP">Already have an account ?</p>
            <a href='/login'>
                <input class='inpFields btns upperB' type="button" value="LOGIN">
            </a>
        </div>
    </div>
    <div class="contSec">
        <div class='container'>
            <p class='loginTxt'>SignUp Here</p>
            <form method='POST' action='/signup/'>
                {% csrf_token %}
                <input class='inpFields' type="text" name="name" placeholder="Name" required>
                <input class='inpFields' type="text" name="username" placeholder="Username"required>
                <input class='inpFields' type="email" name="email" placeholder="Email"required>
                <input class='inpFields' type="password" name="password" placeholder="Password" required>
                <button class="inpFields btns" type="submit">SIGN UP</button>
            </form>
        </div>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}
    </div>
</body>